@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alike);



body {
  margin: 0;
  background-color: #2a3178;
}

header {
  font-family: "lato",monospace;
  margin: 0 auto;
  width: 1000px;
  background-image: url(../images/flag.jpg);
  color: white;
}

header h1 {
  font-family: "lato",monospace;
  text-align: center;
  margin: 0;
  padding-top: .25em;
  color: white;
}

header h2 {
  font-family: "lato",monospace;
  text-align: center;
  margin: 0;
  padding-bottom: 1em;
  color: white;
}

h3 {
  font-family: "lato",monospace;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}

p {

  margin: 0;
  margin-bottom: 10px;
}

nav {
  font-family: "Alike",monospace;
  margin: 0 auto;
  width: 1000px;
  padding: 5px 0;
  text-align: center;
  background-color: #b9b4b5;
  border: 1px solid #9d0609;
}

nav a {
  margin: 0 35px;
  color: #2a3178;
}

ul {
  list-style-image: url(../images/star.png);
}

.floatright {
  float: right;
  margin-left: 10px;
}

#maincolumn {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 15px;
  background-color: #65668c;
}
